<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | Amoonguss</title>
    <link rel="shortcut icon" href="../img/amoonguss.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: gray
        }
        
        a {
            text-decoration: none;
            color: white;
            padding: 10px;
            background-color: red;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <h1>Amoonguss</h1>
    <img width="25%" ; src="../img/amoonguss.png" alt="amoonguss">
    <p>tipo: <span style="background-color:purple;padding: 2px;border-radius: 5px;color: white;">veneno</span>
        <br>
        <br>
        <b>Descripcion:</b>
        <p>Amoonguss, el Pokémon hongo y forma evolucionada de Foongus. Cuando al bailar gira sus brazos, que son como Pokéball, Amoonguss es capaz de atraer a su presa.</p>
        <p style="text-align: center;"><a href="../index.html">Volver al inicio</a></p>
</body>

</html>