<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | Ditto</title>
    <link rel="shortcut icon" href="../img/ditto.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: lawngreen;
        }
        
        a {
            text-decoration: none;
            color: white;
            padding: 10px;
            background-color: red;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <h1>Ditto</h1>
    <img width="25%" ; src="../img/ditto.png" alt="ditto">
    <p>tipo: <span style="background-color: gray;">normal</span>

        <p style="text-align: center;"><a href="../index.html">Volver al inicio</a></p>
</body>

</html>